*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: hsl(182, 89%, 26%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
}